* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: #FAEDCD;
  font-family: "Domine", serif;
  font-size: 1.5rem;
  font-weight: bold;
}
body header {
  border-bottom: 2px solid black;
}
body header .logo {
  height: 90px;
}
body header .nombre {
  font-family: "Norican", cursive;
  font-weight: bold;
}
body main .imgfondo {
  background-image: url(../multi/fotofondoopcion.jpg);
  background-attachment: scroll;
  background-origin: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
}
body main .imgfondo .frase {
  font-size: 4rem;
  color: #ffa500;
  font-weight: bold;
  width: 30%;
  padding-left: 5%;
}
body main .imgfondo .fondocontraste {
  background-color: rgba(255, 51, 51, 0.8705882353);
}
body main .imgfondo .fondocontraste .vision {
  color: #ffffff;
}
body main .pedido {
  margin: 1%;
  padding: 2%;
  background-color: #e4b78b;
}
body main .pedido h1 {
  text-align: center;
  text-decoration: underline;
}
body main .pedido #store {
  min-height: 750px;
}
body main .pedido #store .oculto {
  display: none;
}
body main .pedido #store #filtros {
  background-color: #FAEDCD;
}
body main .pedido #store #filtros .titulo {
  font-size: 1.5rem;
  margin: 3%;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}
body main .pedido #store #filtros .titulo .botonCarrito {
  width: 100%;
  height: 6%;
  font-size: 1rem;
  border: none;
  text-decoration: underline;
  background-color: transparent;
}
body main .pedido #store #filtros .botonFiltro {
  width: 100%;
  height: 6%;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}
body main .pedido #store #objetos {
  display: flex;
  flex-wrap: wrap;
  height: 750px;
  overflow-y: scroll;
}
body main .pedido #store #objetos .productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  border: 2px solid black;
  border-radius: 10%;
  font-size: 1rem;
  background-color: #f5deb3;
  margin: 1%;
  padding: 1%;
}
body main .pedido #store #objetos .productos img {
  width: 200px;
  height: 110px;
  margin: 1%;
  padding: 0;
}
body main .pedido #store #objetos .productos button {
  background-color: #e4b78b;
  font-weight: bold;
}
body main .pedido #store #contenedorCarrito .tituloCarrito {
  font-size: 1.5rem;
  margin: 3%;
  padding: 0;
  text-align: center;
  text-decoration: underline;
}
body main .pedido #store #contenedorCarrito #objetosCarrito {
  display: flex;
  align-content: flex-start;
  height: 400px;
  overflow-y: scroll;
}
body main .pedido #store #contenedorCarrito #objetosCarrito .productoEnCarrito {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 3fr 2fr 2fr 2fr 0.1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . . . . ";
  height: 3rem;
  width: 100%;
  border: 2px solid black;
  font-size: 1.5rem;
  background-color: #f5deb3;
}
body main .pedido #store #contenedorCarrito #objetosCarrito .productoEnCarrito button {
  border: none;
  background-color: transparent;
  height: fit-content;
  width: fit-content;
}
body main .pedido #store #finalizarCompra {
  background-color: #FAEDCD;
  font-weight: bold;
}
body main .productos {
  margin: 0;
  padding: 2%;
}
body main .productos .subtitulo {
  text-indent: 15%;
  margin: 0%;
  font-size: 3rem;
}
body main .productos .accesos {
  border: 1px solid;
  border-width: 1px 0;
}
body main .productos .accesos .link {
  text-decoration: none;
  color: #000000;
  width: auto;
}
body main .ubicacion {
  background-color: #e4b78b;
}
body main .ubicacion .direccion {
  text-align: center;
  padding-top: 2%;
  font-weight: bold;
  font-size: 2rem;
}
body main .ubicacion .mapa {
  width: 100%;
  height: 500px;
  padding: 2%;
}
body footer {
  height: 271px;
  background-color: #3f3c3c;
  color: #ffffff;
}
body footer .logo {
  height: 150px;
}
body footer .nombre {
  font-family: "Norican", cursive;
  font-weight: bold;
  font-size: 3rem;
}

/*# sourceMappingURL=stylesheet.css.map */
